<div class="container">
  <div class="row">

    <div class="col-4 mt-3 rounded-lg" style="background-color: #ecf2fd;">
      <%= attachment_image_tag @game, :image, :fill, 40, 40, format: "jpeg", fallback: "game_icon.jpeg",size: "200x200",class:"rounded-circle border mt-3"%>
      <h2 class="mt-4"><%= @game.name %></h2>
      <p><%= @game.introduction %></p>
      <p><%= @game.members.count%>人がプレイ中</p>
    </div>

    <div class="col-8">
      <div class="text-center bg-light mt-3 py-1">
        <%= form_with url: game_path(@game), method: :get, local: true do |f| %>
          <span><%= f.radio_button :search, 0 %>すべての投稿を表示</span>
          <span class="mx-2"><%= f.radio_button :search, 1 %>募集投稿のみ表示</span>
          <span><%= f.submit "検索", name: nil, class:"btn btn-primary py-1"%></span>
        <% end %>
      </div>

      <% if params[:search] == "0"%>
        <h5 class="text-center mt-2">すべての投稿を表示中です</h5>
      <% elsif params[:search] == "1"%>
        <h5 class="text-center mt-2">募集中のみ表示中です</h5>
      <% end %>

      <%= render "public/posts/post_index", posts: @posts%>
    </div>

  </div>
</div>