<div class="container">
  <div class="row">

    <div class="col-4 mt-3 rounded-lg" style="background-color: #ecf2fd;">
      <%= attachment_image_tag @game, :image, :fill, 40, 40, format: "jpeg", fallback: "game_icon.jpeg",size: "200x200",class:"rounded-circle border mt-3"%>
      <h2 class="mt-4"><%= @game.name %></h2>
      <p><%= @game.introduction %></p>
    </div>

    <div class="col-8">
      <div class="text-center bg-light mt-3 py-1">
        <%= form_with url: game_path(@game), method: :get, local: true do |f| %>
          <span><%= f.radio_button :search, 0 %>すべての投稿を表示</span>
          <span class="mx-2"><%= f.radio_button :search, 1 %>募集投稿のみ表示</span>
          <span><%= f.submit "検索", name: nil, class:"btn btn-primary py-1"%></span>
        <% end %>
      </div>

      <% if params[:search] == "0"%>
        <h5 class="text-center mt-2">すべての投稿を表示中です</h5>
      <% elsif params[:search] == "1"%>
        <h5 class="text-center mt-2">募集中のみ表示中です</h5>
      <% end %>

      <% @posts.each do |post| %>
          <div class="border rounded-lg mt-3">
            <div class="d-flex mt-2 ml-2">
              <%= link_to member_path(post.member),class:"text-dark text-decoration-none" do%>
               <p class="text-decoration-none"><%= attachment_image_tag post.member, :image, format: "jpeg", fallback: "game_icon.jpeg",size: "30x30",class:"rounded-circle border"%>
               <%= post.member.name %></p>
              <% end %>
              <div class="ml-auto mr-2">
               <% if post.member == current_member && post.category == "recruitment"  %>
                <%= link_to post.category_i18n, post_close_path(post), method: :patch, class:"btn btn-success"%>
               <% elsif post.category == "recruitment" %>
                <button class="btn btn-success"><%= post.category_i18n %></button>
               <% else %>
                <p class="btn border"><%= post.category_i18n %></p>
               <% end %>
              </div>
            </div>
<!--投稿文-->
            <%= link_to post_path(post.id),class:"text-decoration-none" do%>
                <p class="text-dark ml-4"><%= post.content %></p>
            <% end %>
<!--投稿下部-->
            <div class="d-flex border-top">
              <div class="ml-2 py-1">
                <% if current_member.favorites.exists?(post_id: post.id) %>
                 <%= link_to "❤️",post_favorites_path(post),method: :delete, class:"text-decoration-none"%>
                 <span><%= post.favorites.count %>いいね</span>
                <% else %>
                 <%= link_to "♡",post_favorites_path(post),method: :poste, class:"text-decoration-none"%>
                 <span><%= post.favorites.count %>いいね</span>
                <% end %>
                <% if post.comments.exists? %>
                <span class="ml-4"><%= post.comments.count %> 件のコメント</span>
                <% end %>
              </div>
              <div class="ml-auto py-1">
                <% if post.game_id.present? %>
                 <%= attachment_image_tag Game.find(post.game_id), :image, format: "jpeg", fallback: "game_icon.jpeg",size: "20x20",class:"mr-2"%>
                 <%= link_to Game.find(post.game_id).name, game_path(post.game_id),class:"text-dark text-decoration-none mr-2"%>
                <% end %>
              </div>
            </div>

          </div>
      <% end %>
    </div>

  </div>
</div>