
<%= form_with model: @contact, url: confirm_path, local: true do |f| %>
  <div class="form-group">
    <%= f.label :name, 'お名前*' %>
    <%= f.text_field :name, autofocus: true, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :email, 'メールアドレス' %>
    <%= f.email_field :email, autofocus: true, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :subject, 'お問い合わせ概要' %>
    <%= f.select :subject, [["その他ご要望", "other"],["ゲームの追加申請", "request"],["メンバー通報","report"]] %><br>
  </div>

  <div class="form-group">
    <%= f.label :body, 'お問い合わせ内容' %>
    <%= f.text_area :body, size: '10x10', class: 'form-control' %>
  </div>

  <div>
    <%= f.submit '入力内容確認' %>
  </div>
<% end %>