<!--投稿上部-->
<% posts.each do |post| %>
  <div class="border rounded-lg mt-3">
    <div class="d-flex mt-2 ml-2">
      <%= link_to member_path(post.member),class:"text-dark text-decoration-none" do%>
        <p class="text-decoration-none"><%= attachment_image_tag post.member, :image, format: "jpg", fallback: "member.jpg",size: "30x30",class:"rounded-circle border"%>
        <%= post.member.name %></p>
      <% end %>
      <div class="ml-auto mr-2">
        <% if post.member == current_member && post.category == "recruitment"  %>
          <%= link_to post.category_i18n, post_close_path(post), method: :patch, class:"btn btn-success",data: {confirm:"募集を締め切りますか？",cancel:"やめる",commit:"締め切る"},title:"確認"%>
        <% elsif post.category == "recruitment" %>
          <p class="btn btn-success"><%= post.category_i18n%></p>
        <% elsif post.category == "closed" %>
          <p class="btn border"><%= post.category_i18n %></p>
        <% end %>
      </div>
    </div>
    <!--投稿文-->
    <%= link_to post_path(post.id),class:"text-decoration-none" do%>
      <p class="text-dark ml-4"><%= post.content %></p>
    <% end %>
    <!--投稿下部-->
    <div class="d-flex border-top">
      <div class="ml-2 py-1">
        <% if member_signed_in? %>
        <span id="favorite-btn-<%= post.id%>">
          <%= render 'public/favorites/favorite', post: post%>
        </span>
        <% end %>
        <% if post.comments.exists? %>
          <%= link_to post_path(post.id),class:"text-decoration-none" do %>
          <i class="far fa-comments ml-2"> <%= post.comments.count %></i>
          <% end %>
        <% end %>
      </div>
      <div class="ml-auto py-1">
        <% if post.game_id.present? %>
          <%= attachment_image_tag Game.find(post.game_id), :image, format: "jpg", fallback: "game_icon.jpg",size: "20x20",class:"mr-2"%>
          <%= link_to Game.find(post.game_id).name, game_path(post.game_id),class:"text-dark text-decoration-none mr-2"%>
        <% end %>
      </div>
    </div>
  </div>
<% end %>