<div class="container">
  <div class="row">
    <div class="mx-auto">
      <h3 class="my-5"><%= @member.name %>さんのフォロー一覧</h3>
      <table class="table">
        <% @member.follower_user.each do |follower| %>
          <tr>
            <td>
              <%= link_to member_path(follower) do %>
                <%= attachment_image_tag follower, :image, format: "jpg", fallback: "member_img.jpg",size: "30x30",class:"rounded-circle border"%>
              <% end %>
            </td>
            <td>
              <%= link_to follower.name, member_path(follower), class:"text-decoration-none text-dark"%>
            </td>
            <% if member_signed_in? && (follower != current_member) && current_member.email !='guest@example.com'  %>
            <td>
              <% if current_member.follower.exists?(following_id: follower) %>
              <%= link_to "フォローを外す",member_relationships_path(follower),method: :delete,class:"btn btn-primary"%>
              <% else %>
              <%= link_to "フォローする",member_relationships_path(follower),method: :post,class:"btn btn-primary"%>
              <% end %>
            </td>
            <% end %>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>