<div class="container">
  <div class="row">
      <div class="mx-auto pr-5 mt-3">
　　　<%= image_tag "title.png", :size =>'600x400'%>
      </div>
      <div class="mx-auto">
      　<h4 class="text-center">お知らせ（<%= link_to "一覧を見る", announcements_path%>）</h4>
        <table class="teble table-bordered">
          <tr class="bg-light">
            <th>日時</th>
            <th>タイトル</th>
            <th>内容</th>
          </tr>
          <% @announcements.limit(4).each do |announcement| %>
            <tr>
              <td><%= announcement.created_at.strftime("%y/%m/%d") %></td>
              <td class="text-truncate", style="max-width: 230px;"><%= link_to announcement.title,announcement_path(announcement), class:"text-dark text-decoration-none" %></td>
              <td class="text-truncate", style="max-width: 400px;"><%= link_to announcement.body,announcement_path(announcement) %></td>
            </tr>
          <% end %>
        </table>
      </div>
  </div>
</div>