<div class="container">
  <div class="row">
    <div class="col-12 mx-auto text-center">
      <div class="mx-auto pr-5 mt-3">
　　　  <%= image_tag "title.jpg", :size =>'600x400'%>
      </div>
      <% unless member_signed_in?||admin_signed_in? %>
        <div>
          <%= link_to 'ゲストログイン（閲覧用）', members_guest_sign_in_path, method: :post, class:"btn btn-default border"%>
        </div>
      <% end %>
      <div class="w-100">
      　<h4 class="text-center">お知らせ（<%= link_to "一覧を見る", announcements_path%>）</h4>
        <table class="teble table-bordered mx-auto w-75">
          <tr class="bg-light">
            <th>日時</th>
            <th>タイトル</th>
            <th>内容</th>
          </tr>
          <% @announcements.limit(4).each do |announcement| %>
            <tr>
              <td><%= announcement.created_at.strftime("%y/%m/%d") %></td>
              <td class="text-truncate", style="max-width: 230px;"><%= link_to announcement.title,announcement_path(announcement), class:"text-dark text-decoration-none" %></td>
              <td class="text-truncate", style="max-width: 400px;"><%= link_to announcement.body,announcement_path(announcement) %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>